<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <!-- bootstrap link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- CSS link -->
    <link rel="stylesheet" href="../CSS/dashboard.css" />

    <!-- JS link -->
    <script defer src="../JavascriptFiles/dashboard.js"></script>
  </head>
  <body>
    <!-- <%= console.log(quotes)%> -->
    

    <header class=" mb-3 border-bottom">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="/"
            class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"
          >
            <svg
              class="bi me-2"
              width="40"
              height="32"
              role="img"
              aria-label="Bootstrap"
            >
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>

          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          >
            <li class="nav-link px-2 link-dark">
              <a href="login">Log Out</a>
            </li>
            <li class="nav-link px-2 link-dark">
              <a href="dashboard">Dashboard</a>
            </li>
            <li class="nav-link px-2 link-dark">
              <a href="settings">Settings</a>
            </li>
          </ul>

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input
              type="search"
              class="form-control"
              placeholder="Search..."
              aria-label="Search"
            />
          </form>

          <div class="dropdown text-end">
            <a
              href="#"
              class="d-block link-dark text-decoration-none dropdown-toggle"
              id="dropdownUser1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="../imagesXicons/pic1.png"
                alt="mdo"
                width="40"
                height="40"
                class="rounded-circle"
              />
            </a>
            <ul
              class="dropdown-menu text-small"
              aria-labelledby="dropdownUser1"
            >
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    
    <main>
      <section class="box bordered_box" id="left">
        <div id="profile_pic" class="left_children">
          <div
            class="image d-flex flex-column justify-content-center align-items-center"
          >
            <img
              src="../imagesXicons/profile_pic.png"
              height="150"
              width="150"
            />
            <span id="profile_name" class="name mt-3">Test McTesty</span>
            <span id="alias" class="idd">@test</span>
              <button class="btn1 btn-dark">
                <a href="settings.html">Edit Profile</a>
              </button>
            </div>
          </div>
        </div>
        <div id="carouselExampleSlidesOnly" class="left_children carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
              <img class="d-block w-100" height="615px" src="../imagesXicons/carosel-1.jpg" alt="First slide">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <img class="d-block w-100" height="615px" src="../imagesXicons/carosel-2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <img class="d-block w-100 " height="615px" src="../imagesXicons/carosel-3.jpg" alt="Third slide">
            </div>
          </div>
        </div>
      </section>
      <section class="box" id="right">
        <div id="top_right_child" class="bordered_box">
          <div class="card_bookmark">
            <h2 style="margin:0%" id="bookmark">My Bookmarks</h2>
          </div>
          <div style="height:79%"  class="card_body">
            <textarea style="font-family:'Courier New', Courier, monospace" id="bookmarkId">
              https://www.facebook.com/
              https://colorhunt.co/palette/c2ded1ece5c7cdc2ae354259
              https://stackoverflow.com/questions/6669846/css-input-field-text-color-of-inputted-text
              https://docs.google.com/document/d/1fW9vYHppZlS0XNaBIfR8Xfmktahg8n25XurjPMgGHmA/edit
              https://getbootstrap.com/docs/4.0/components/carousel/
            </textarea>
          </div>
        </div>
        <div id="bottom_right_child">
          <div class="api_box bordered_box ">
            <div class="card page-content page-container d-flex" id="page-content">
              <h2 style="margin:0%" class="toDo">My ToDo List</h2>
            </div>
              <div class="add-items d-flex"> <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?"> <button class="add btn btn-primary font-weight-bold todo-list-add-btn">Add</button> </div>
              <div class="list-wrapper">
                  <ul class="d-flex flex-column-reverse todo-list">
                      <li>
                          <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox"> buy more paint brushes? <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline"></i>
                      </li>
                      <li class="completed">
                          <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox" checked=""> call the vet <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline"></i>
                      </li>
                      <li>
                          <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox"> i shouldn't eat rice this week? <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline"></i>
                      </li>
                      <li>
                          <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox"> Print bills <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline"></i>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="api_box bordered_box">
            <div class="card"></div>
            <div id="quotes-api" class="card_body">
              <% for(var i = 0; i < quotes.length; i++) {%>
                <p style="font-family:cursive"><%=quotes[i].q%></p>
                <p style="font-family:cursive"><%=quotes[i].a%></p>
                <% } %>
            </div>
          </div>
          <div class="api_box bordered_box">
            <% const ranIndex = Math.floor(Math.random() * memeZ.length) %>
            <% const ranMeme = memeZ[ranIndex] %>
            <div class="card">
              <h2><%=ranMeme.name%></h2>
              <div class="card_body">
                  <img id="memeUrl" src="<%= ranMeme.url %>" alt="<%=ranMeme.name%>">
              </div>
            </div>
         
          </div>
          <div class="api_box bordered_box">
            <div class="card_note">
              <h2 style="margin:0%">My Notes</h2>
            </div>
            <div id="my_notes"  class="card_body">
              <textarea id="noteText">CRUD (Create, Read, Update, Delete) is an acronym for ways one can operate on stored data. It is a mnemonic for the four basic functions of persistent storage. CRUD typically refers to operations performed in a database or datastore, but it can also apply to higher level functions of an application such as soft deletes where data is not actually deleted but marked as deleted via a status.</textarea>
            </div>
          </div>
          <div class="api_box bordered_box">
            <div class="card">
              <input id="weatherZip" placeholder="enter zip code to get weather" type="text">
              <div id="weatherDetailsContainer">
                <% if(weatherDetails !== undefined) {%>
                  <p id="weaTemp">Temperature : <%= weatherDetails.main.temp %> F</p>
                  <p id="feelsLike">Feels Like :<%= weatherDetails.main.feels_like %> F</p>
                  <p id="minTemp">Min Temp :<%= weatherDetails.main.temp_min %> F</p>
                  <p id="maxTemp">Max Temp :<%= weatherDetails.main.temp_max %> F</p>
                  <p id="pressure">Pressure : <%= weatherDetails.main.pressure %> hPa</p>
                  <p id="humidity">Humidity :<%= weatherDetails.main.humidity %> %</p>
                  <% } %>
              </div>
              
            </div>
            <div class="card_body">
              
            </div>
          </div>
          <div class="api_box bordered_box">
            <div class="card"></div>
            <div class="card_body"></div>
          </div>
        </div>
      </section>
    </main>
    <footer class="-4 border-top">
      <div id="footer-p" class="d-flex justify-content-around">
        <p>TheWidgetWebsite©2022<p/>
        <p>About</p>     
        <p>Accesibility</p>  
        <p>User Agreement</p>
        <p>Privacy Policy</p>
        <p>Support</p>     
        <p>Guidelines</p>  
        <p>Settings</p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <script>
      document.getElementById("weatherZip").addEventListener("keypress", function(e){
        if (e.key === "Enter"){
          const zip = e.target.value;
          console.log(zip);
          e.target.value = ""
          fetch(`/weather?zip=${zip}`)
          .then(res => res.json())
          .then(data => {
            console.log(data);
            const temp = "Temperature :" + data.main.temp + " F";
            const feelsLikeTemp = "Feels Like : " + data.main.feels_like + " F";
            const minTempVal = "Min Temp : " + data.main.temp_min + " F";
            const maxTempVal = "Max Temp : " + data.main.temp_max + " F";
            const pressureVal = "Pressure : " + data.main.pressure + " hPa";
            const humidityVal = "Humidity : " + data.main.humidity + " %";
            const weatherContainer = document.getElementById("weatherDetailsContainer")
            if(weatherContainer.children.length !== 0) {
              document.getElementById("weaTemp").innerText = temp
              document.getElementById("feelsLike").innerText = feelsLikeTemp
              document.getElementById("minTemp").innerText = minTempVal
              document.getElementById("maxTemp").innerText = maxTempVal
              document.getElementById("pressure").innerText = pressureVal
              document.getElementById("humidity").innerText = humidityVal

            }
            else {
              weatherContainer.innerHTML = `
                <p id="weaTemp">${temp}</p> 
                <p id="feelsLike">${feelsLikeTemp} F</p>
                <p id="minTemp">${minTempVal} F</p> 
                <p id="maxTemp">${maxTempVal} F</p> 
                <p id="pressure">${pressureVal} hPa</p> 
                <p id="pressure">${humidityVal} %</p> 
              `
            }

            
          })
        }
      })
    </script>
  </body>
</html>
